.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.author {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
}
.content {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
