.container {
  padding: 10px 30px;
}

.btnText {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
}
.img {
  width: 200px;
  height: auto;
}
.info {
  display: flex;
  gap: 15px;
  padding: 10px 10px;

  border-bottom: 2px solid grey;
  box-shadow: 2px 2px 5px 1px;
  margin-top: 10px;
}
.title {
  margin: 0;
  line-height: 1.7;
}
.score,
.overviewTitle,
.overview,
.genres {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
}
.containerLink {
  padding: 10px 10px;
  border-bottom: 2px solid grey;
  box-shadow: 2px 2px 5px 1px;
}
.wrapLoader{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.text {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}
